{{>layout/header}}
{{#member}}
<form action="/members/update" method="post" class="container">
    <input type="hidden" name="id" value="{{id}}">
    <div class="mb-3">
        <label for="" class="form-label">제목</label>
        <input type="email" class="form-control" name="email" value="{{email}}">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">비밀번호</label>
        <input type="password" class="form-control" name="pw" value="{{pw}}">
    </div>
    <button class="btn btn-primary" type="submit" >edit</button>
    <a href="/members/{{id}}">Back</a>
</form>
{{/member}}
{{>layout/footer}}