{{>layout/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>

    </tr>
    </thead>
    <tbody>
    {{#memberEntityList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/members/{{id}}">{{email}}</a></td>
            <td>{{pw}}</td>
        </tr>
    {{/memberEntityList}}
    </tbody>
</table>
<a href="/members/signUp">new member</a>
{{>layout/footer}}