{{>layout/header}}

<form action="/members/join" method="post" class="container">

    <div class="mb-3">
        <label for="" class="form-label">제목</label>
        <input type="email" class="form-control" name="email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">비밀번호</label>
        <input type="password" class="form-control" name="pw">
    </div>
    <button class="btn btn-primary" type="submit" >가입</button>
    <a href="/members">Back</a>
</form>

{{>layout/footer}}